<section>
  <div class="slider">
    <div class="slides">
      <div class="slide"><img src="https://i.pinimg.com/originals/f0/3d/a5/f03da5e30272e20c077850c0af2e68b0.jpg" alt="Imagen 1"></div>
      <div class="slide"><img src="https://estaticos-cdn.sport.es/clip/79824d55-f456-4ae8-af58-3eebb56f369f_source-aspect-ratio_default_0.jpg" alt="Imagen 2"></div>
      <div class="slide"><img src="https://library.sportingnews.com/styles/facebook_1200x630/s3/2022-12/Lionel%20Messi%20Argentina%20kiss%20World%20Cup%20trophy%20121822.jpg?itok=iH3MqXPV" alt="Imagen 3"></div>
      <div class="slide"><img src="pele.png" alt="Imagen 4"></div>
      <div class="slide"><img src="Sin título.png" alt="Imagen 5"></div>
    </div>
  </div>
</section>
