<app-sidebar-filter (filterChanged)="onFilterChanged($event)"></app-sidebar-filter>
<section class="contenido">
  <div class="jersey-grid-container">
    <div class="jersey-grid">
      <div class="jersey" *ngFor="let jersey of filteredJerseys()">
        <app-jersey
          [team]="jersey.team"
          [price]="jersey.price"
          [imageURL]="jersey.imageURL"
          [season]="jersey.season"
          [colour]="jersey.colour"
          [jerseyId]="jersey.id"
          (addToCartEvent)="addToCart(jersey)"
        ></app-jersey>
      </div>
    </div>
  </div>
  <div *ngIf="filteredJerseys().length === 0">
    <p>No jerseys found.</p>
  </div>
</section>